{{!-- <h1 class="header">Posts</h1>

<div class="container">
	<ul class="list">
		{{#each posts as |post|}}
			<li {{action "openModal" "PostDetail"}}><span>{{post.title}}</span></li>
		{{/each}}
	</ul>
</div> --}}